.ui.inverted.vertical.footer.segment
    .ui.container
        .ui.stackable.inverted.divided.equal.height.stackable.grid
            .three.wide.column
                h4.ui.inverted.header About
                .ui.inverted.link.list
                    a.item(href='#') Sitemap
                    a.item(href='#') Contact Us
                    a.item(href='#') Religious Ceremonies
                    a.item(href='#') Gazebo Plans
            .three.wide.column
                h4.ui.inverted.header Services
                .ui.inverted.link.list
                    a.item(href='#') Banana Pre-Order
                    a.item(href='#') DNA FAQ
                    a.item(href='#') How To Access
                    a.item(href='#') Favorite X-Men
            .seven.wide.column
                h4.ui.inverted.header Footer Header
                p | Extra space for a call to action inside the footer that could help re-engage users.