extends layout

block content
    .ui.vertical.stripe.segment.container
        .ui.left.aligned.grid
            .companydesc.sixteen.wide.column
                p
                    | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla aliquet vestibulum libero, at fringilla ex tincidunt nec. Integer nec sodales nibh. Integer dignissim suscipit nisi, sed posuere erat lacinia sit amet. Morbi in mi laoreet, rutrum eros
                    | sit amet, blandit quam. Donec porttitor ante ut orci dignissim, ac tincidunt felis sollicitudin. Ut et ullamcorper purus, et finibus augue. Etiam felis nisi, suscipit eu orci eu, aliquet commodo dui. Donec sagittis blandit lobortis. Aenean aliquam
                    | augue non dolor scelerisque tristique. Cras risus urna, venenatis sit amet bibendum ac, hendrerit nec felis. Sed quis finibus ipsum. Nullam quis auctor urna.
                p
                    | Maecenas mi orci, dapibus ut arcu lacinia, sollicitudin faucibus massa. Proin in ultrices metus, id hendrerit orci. Integer rutrum risus ac magna euismod iaculis. Nulla venenatis, lorem quis luctus suscipit, nunc lacus ornare lacus, laoreet porta
                    | libero augue sed augue. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum imperdiet, dui feugiat venenatis sodales, diam urna mollis mi, non hendrerit purus sem nec est. Donec vitae diam at purus
                    | convallis rutrum. Cras commodo libero est, a egestas ligula tempus sed. Vivamus vulputate nisi et iaculis cursus. Vestibulum convallis auctor ligula, vitae mattis ex dapibus eget.
                .ui.horizontal.divider
                    i.lab.icon
                h2 Als Senior Java Developer ga je...
                ul
                    li
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    li
                        | Nulla aliquet vestibulum libero, at fringilla ex tincidunt nec.
                    li
                        | Integer nec sodales nibh. Integer dignissim suscipit nisi, sed posuere erat lacinia sit amet.
                    li
                        | Morbi in mi laoreet, rutrum eros sit amet, blandit quam.
                    li
                        | Donec porttitor ante ut orci dignissim, ac tincidunt felis sollicitudin.
                    li
                        | Ut et ullamcorper purus, et finibus augue. Etiam felis nisi, suscipit eu orci eu, aliquet commodo dui.
                    li
                        | Donec sagittis blandit lobortis. Aenean aliquam augue non dolor scelerisque tristique.
                    li
                        | Cras risus urna, venenatis sit amet bibendum ac, hendrerit nec felis.
                    li Sed quis finibus ipsum. Nullam quis auctor urna.
                h3 Wat verwachten we van jou?
                ul
                    li
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    li
                        | Nulla aliquet vestibulum libero, at fringilla ex tincidunt nec.
                    li
                        | Integer nec sodales nibh. Integer dignissim suscipit nisi, sed posuere erat lacinia sit amet.
                    li
                        | Morbi in mi laoreet, rutrum eros sit amet, blandit quam.
                    li
                        | Donec porttitor ante ut orci dignissim, ac tincidunt felis sollicitudin.
                    li
                        | Ut et ullamcorper purus, et finibus augue. Etiam felis nisi, suscipit eu orci eu, aliquet commodo dui.
                    li
                        | Donec sagittis blandit lobortis. Aenean aliquam augue non dolor scelerisque tristique.
                    li
                        | Cras risus urna, venenatis sit amet bibendum ac, hendrerit nec felis.
                    li Sed quis finibus ipsum. Nullam quis auctor urna.
                h3 Wat breng je hiervoor mee?
                ul
                    li
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    li
                        | Nulla aliquet vestibulum libero, at fringilla ex tincidunt nec.
                    li
                        | Integer nec sodales nibh. Integer dignissim suscipit nisi, sed posuere erat lacinia sit amet.
                    li
                        | Morbi in mi laoreet, rutrum eros sit amet, blandit quam.
                    li
                        | Donec porttitor ante ut orci dignissim, ac tincidunt felis sollicitudin.
                    li
                        | Ut et ullamcorper purus, et finibus augue. Etiam felis nisi, suscipit eu orci eu, aliquet commodo dui.
                    li
                        | Donec sagittis blandit lobortis. Aenean aliquam augue non dolor scelerisque tristique.
                    li
                        | Cras risus urna, venenatis sit amet bibendum ac, hendrerit nec felis.
                    li Sed quis finibus ipsum. Nullam quis auctor urna.
                h3 Wat geven wij in ruil?
                ul
                    li
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    li
                        | Nulla aliquet vestibulum libero, at fringilla ex tincidunt nec.
                    li
                        | Integer nec sodales nibh. Integer dignissim suscipit nisi, sed posuere erat lacinia sit amet.
                    li
                        | Morbi in mi laoreet, rutrum eros sit amet, blandit quam.
                    li
                        | Donec porttitor ante ut orci dignissim, ac tincidunt felis sollicitudin.
                    li
                        | Ut et ullamcorper purus, et finibus augue. Etiam felis nisi, suscipit eu orci eu, aliquet commodo dui.
                    li
                        | Donec sagittis blandit lobortis. Aenean aliquam augue non dolor scelerisque tristique.
                    li
                        | Cras risus urna, venenatis sit amet bibendum ac, hendrerit nec felis.
                    li Sed quis finibus ipsum. Nullam quis auctor urna.
    .ui.vertical.padded.center.aligned.gray.inverted.segment.calltoaction
        .ui.container
            .sixteen.wide.column
                h1 Ga jij aan de slag als supergemotiveerde Senior Java Developer bij Optis?
                h2 Solliciteer nu!
        .ui.grid.left.aligned.container
            .sixteen.wide.column
                form.ui.inverted.form
                    .field
                        .two.fields
                            .field
                                label Voornaam
                                input(type='text', name='firstname', placeholder='John')
                            .field
                                label Achternaam
                                input(type='text', name='lastname', placeholder='Doe')
                    .field
                        .two.fields
                            .field
                                label E-mail
                                input(type='text', name='email', placeholder='john@doe.com')
                            .field
                                label Telefoon
                                input(type='text', name='phone', placeholder='+32 496 12 34 56')
                    button.ui.green.button(type='submit') Verstuur

    include ./includes/footer.jade