extends layout

block content
    .ui.vertical.stripe.segment
      .ui.middle.aligned.stackable.grid.container
        .row
          h4.ui.horizontal.header.divider Recente vacatures

        each job, index in jobs
          .row.box.wow.slideInUp
            .three.wide.center.aligned.column
              img(src='images/' + job.company + '.png', width='120')
            .ui.vertical.divider
              i.rocket.icon
            .thirteen.wide.column
              a(href='/detail/' + index)
                h2= job.title
              p= job.description
              a.ui.label.date(data-date=job.date, data-content=job.date): i.calendar.icon 
              a.ui.label
                i.location.arrow.icon 
                = job.location
          .ui.hidden.divider

        .row: .sixteen.wide.right.aligned.column: .ui.button Meer

    include ./includes/footer.jade

