doctype html
html
  head
    title= title
    link(rel='stylesheet', type='text/css', href='/components/reset.css')
    link(rel='stylesheet', type='text/css', href='/components/site.css')
    link(rel='stylesheet', type='text/css', href='/components/container.css')
    link(rel='stylesheet', type='text/css', href='/components/grid.css')
    link(rel='stylesheet', type='text/css', href='/components/header.css')
    link(rel='stylesheet', type='text/css', href='/components/image.css')
    link(rel='stylesheet', type='text/css', href='/components/menu.css')
    link(rel='stylesheet', type='text/css', href='/components/sidebar.css')
    link(rel='stylesheet', type='text/css', href='/components/transition.css')
    link(rel='stylesheet', type='text/css', href='/components/divider.css')
    link(rel='stylesheet', type='text/css', href='/components/dropdown.css')
    link(rel='stylesheet', type='text/css', href='/components/segment.css')
    link(rel='stylesheet', type='text/css', href='/components/button.css')
    link(rel='stylesheet', type='text/css', href='/components/list.css')
    link(rel='stylesheet', type='text/css', href='/components/icon.css')
    link(rel='stylesheet', type='text/css', href='/components/label.css')
    link(rel='stylesheet', type='text/css', href='/components/popup.css')
    link(rel='stylesheet', type='text/css', href='/components/form.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="http://s.mlcdn.co/animate.css")

    script(src="https://code.jquery.com/jquery-3.0.0.min.js" crossorigin="anonymous")
    script(src='/javascripts/wow.min.js')
    script(src='/components/visibility.js')
    script(src='/components/sidebar.js')
    script(src='/components/transition.js')
    script(src='/components/popup.js')
    script(src='/components/form.js')
    script(src='/javascripts/main.js')
    script(src="/javascripts/moment.js")

  body
    .pusher
      .ui.inverted.vertical.masthead.center.aligned.segment
        .ui.container
          .ui.large.secondary.inverted.pointing.menu
            a.toc.item
              i.sidebar.icon
            img.wow.bounceInLeft(src='/images/logoIcon.png', height='40')
            img.wow.fadeIn(data-wow-delay="1s", src='/images/logoText.png', height='14', style="margin:12px 0 0 12px")
            .right.menu
              a.active.item Home
        .ui.text.container
          h1.ui.inverted.header= header
          h2.wow.fadeIn(data-wow-delay=".5s")= subHeader
          - if (typeof(location) !== 'undefined'){
              span.wow.fadeIn(data-wow-delay="1s")
                i.marker.icon
                span= location
          - }
      block content
