.hidden.menu {
  display: none;
}

a {
    color: #4A4A4A;
    transition: color 0.3s ease;

    &:hoover {
        color: #2E2E2E;
    }
}

.ui.vertical.stripe .horizontal.divider {
    margin: 2em 0em 3em;
}

.row.box {
    box-shadow: 0 3px 10px 0 rgba(0,0,0,.10) !important;
    padding: 30px 0 !important;
}

.masthead {
  &.segment {
    min-height: 600px;
    padding: 1em 0em;
  }

  .logo.item img {
    margin-right: 1em;
  }

  h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
  }

  h2 {
    font-size: 1.7em;
    font-weight: 200;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.6);
  }

  .ui.secondary.inverted.pointing.menu {
      border: none;
  }

  background-image: url('../images/bg2.jpg') !important;
  background-position: bottom !important;
  background-size: cover !important;
}


.ui.vertical.stripe {
  padding: 4em 0em;

  h3 {
    font-size: 2em;
  }

  .button + h3, p + h3 {
    margin-top: 3em;
  }

  .floated.image {
    clear: both;
  }

  p {
    color: #aaa;
    padding: 1em 0;
  }
}

.calltoaction {
  padding: 3em 0 !important;

  h1 {
    font-weight: 100 !important;
    font-size: 3em !important;
  }

  h2 {
    padding-bottom: 1em;
  }
}

.recentvacatures {
  a {
    color: white;
  }

  padding: 4em 0em;

  h3 {
    font-size: 2em;
  }

  .button + h3, p + h3 {
    margin-top: 3em;
  }
}

.footer.segment {
  padding: 5em 0em;
}

.secondary.pointing.menu .toc.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important;
  }

  .secondary.pointing.menu {
    .item, .menu {
      display: none;
    }

    .toc.item {
      display: block;
    }
  }

  .masthead {
    &.segment {
      min-height: 350px;
    }

    h1.ui.header {
      font-size: 2em;
      margin-top: 1.5em;
    }

    h2 {
      margin-top: 0.5em;
      font-size: 1.5em;
    }
  }
}