.hidden.menu {
  display: none; }

a {
  color: #4A4A4A;
  transition: color 0.3s ease; }
  a:hoover {
    color: #2E2E2E; }

.ui.vertical.stripe .horizontal.divider {
  margin: 2em 0em 3em; }

.row.box {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1) !important;
  padding: 30px 0 !important; }

.masthead {
  background-image: url("../images/bg2.jpg") !important;
  background-position: bottom !important;
  background-size: cover !important; }
  .masthead.segment {
    min-height: 600px;
    padding: 1em 0em; }
  .masthead .logo.item img {
    margin-right: 1em; }
  .masthead h1.ui.header {
    margin-top: 3em;
    margin-bottom: 0em;
    font-size: 4em;
    font-weight: normal;
    text-shadow: 0 0 8px rgba(0, 0, 0, 0.6); }
  .masthead h2 {
    font-size: 1.7em;
    font-weight: 200;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.6); }
  .masthead .ui.secondary.inverted.pointing.menu {
    border: none; }

.ui.vertical.stripe {
  padding: 4em 0em; }
  .ui.vertical.stripe h3 {
    font-size: 2em; }
  .ui.vertical.stripe .button + h3, .ui.vertical.stripe p + h3 {
    margin-top: 3em; }
  .ui.vertical.stripe .floated.image {
    clear: both; }
  .ui.vertical.stripe p {
    color: #aaa;
    padding: 1em 0; }

.calltoaction {
  padding: 3em 0 !important; }
  .calltoaction h1 {
    font-weight: 100 !important;
    font-size: 3em !important; }
  .calltoaction h2 {
    padding-bottom: 1em; }

.recentvacatures {
  padding: 4em 0em; }
  .recentvacatures a {
    color: white; }
  .recentvacatures h3 {
    font-size: 2em; }
  .recentvacatures .button + h3, .recentvacatures p + h3 {
    margin-top: 3em; }

.footer.segment {
  padding: 5em 0em; }

.secondary.pointing.menu .toc.item {
  display: none; }

@media only screen and (max-width: 700px) {
  .ui.fixed.menu {
    display: none !important; }
  .secondary.pointing.menu .item, .secondary.pointing.menu .menu {
    display: none; }
  .secondary.pointing.menu .toc.item {
    display: block; }
  .masthead.segment {
    min-height: 350px; }
  .masthead h1.ui.header {
    font-size: 2em;
    margin-top: 1.5em; }
  .masthead h2 {
    margin-top: 0.5em;
    font-size: 1.5em; } }

/*# sourceMappingURL=style.css.map */